[Unit]
Description=Syler Portal Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/syler
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
